.coolBox
{
  background-color: burlywood;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 50vw;
  height: 50vh;
}

@media (max-width: 600px)
{
  .coolBox
  {
    width: 100vw;
  }
}

@media (min-width: 1024px)
{
  .coolBox
  {
    width: 100vw;
  }
}