.flex-container
{
    display: flex;
    flex-direction: column;
}

.image-container
{
    width: 100%;
    position: relative;
    height: 20rem;
    display: inline-block;
    overflow: hidden;
}

.bottom-text
{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    color: white;
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
    text-align: center;
    font-size: 14pt;
    transform: translate(-50%);
}

.flex-image
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.responsive-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form-input, .form-button
{
    padding: .5rem;
    font-size: 1rem;
    margin: .5rem;
    flex: 1rem;
}

@media (max-width: 768px)
{
    .form-input
    {
        flex: 1 1 40%;
    }

    .form-button
    {
        flex: 1 1 100%;
    }
}

@media (max-width: 500px)
{
    .form-input, .form-button
    {
        flex: 1 1 100%; /*All elements take fll width*/
    }
}